<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js"></script>
</head>

<body>
    <div id="loading">
        <div class="circles-to-rhombuses-spinner">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
    </div>
    <audio src="sounds/startup.mp3" id="startup_sound"></audio>

    <div class="container">
        <h1 class="air">Lainan Air</h1>
    </div>
    
</body>

</html>