html {
    background: #87CEFA;
    font-family: "NSJ";
    font-size: calc(12px + ((1vw – 8px) * 1.2));
}

@font-face {
    font-family: "NSJ";
    src: url("font/NotoSansJP-Light.otf");
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background: #00000032;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #00000032;
}


.air {
    background: -webkit-linear-gradient(0deg, #7992ff, #79ffe6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    width: 92%;
    max-width: 1280px;
    margin: 0 auto;
}